body {
    text-align: center;
    background: #ffffff;
    font-family: 'Monda', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.75em;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
}

h2 {
    font-size: 1.75em;
    font-weight: 600;
    font-family: 'Philosopher', sans-serif;
    color: #02ccba;
}

.lives p {
    color: #02ccba;
    margin: 0;
    font-size: 25px;
}

.live,
.score {
    color: #aa7ecd;
}

.final-score {
    font-size: 80px;
}

/* Styles for Modal */
.hide {
    display: none;
}

.modal-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(46, 61, 73, 0.897);
}

.modal-body {
    position: relative;
    width: 450px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 3px solid #02ccba;
}

.modal-stats {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}



  .modal-button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .modal-button:hover {
    background-color: #008CBA;
    color: white;
  }

  